body{
  /*  background-color: seagreen;
    background-image: url("img/fondo.jpg");
    background-repeat: repeat;
    background-size: 100% 100%;
    background-attachment: fixed; /*NOS PERMITE FIJAR EL FONDO PARA QUE NO SE MUEVA CON EL SCROLL
    background-position: left bottom;*/
    color: black;
    text-align: justify;
    text-indent: 15px;/*agregar sangria a los parrafos*/
    word-spacing: 10px;/*espacio entre palabras*/
    letter-spacing: 5px;
}

#caja{
    border: 5px solid black;
    padding: 10px;
    background-color: darkgreen;
    color: cornsilk;
    font-family: "Open Sans";
    text-align: center;
    line-height: 50px;/*espacio entre textoss*/
    text-transform: uppercase;/*convertir a mayusculas*/
    text-decoration: line-through;/*agregar linea en el texto*/
    vertical-align: top;
}
h3{
   color: green;
   background-color: aqua;
   border: 3px solid black;
   background-image: url("img/fondo.jpg");
   padding: 10px; 
}